{% extends "templates/base.html" %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="/static/public/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <style>
        .yzs-alert {
            position: fixed;
            bottom: 0px;
            z-index: 998;
            margin: 0px;
            width: 100%;
            font-weight: bold;
            font-size: large;
            text-align: right; /*字体右對齊*/
        }
    </style>
{% endblock styles %}

{% block content %}
    <div class="yzs-alert alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div id="yzs-date"></div>
    </div>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 100%;height:1000px;"></div>
{% endblock content %}

{% block script %}
    <script src="/static/public/echarts/3.1.10/echarts.js"></script>
    <script src="/static/public/jquery/jquery.js"></script>
    <script src="/static/adsl/js/echarts-adsl.js"></script>
    <script type="text/javascript">
        //根据条目设置宽度
        function SetHeight(jData) {
            var iLen = 1;
            for (i in  jData['result']['data']) {
                iLen++
            }
            iHeight = iLen * 120;
            console.log(iHeight);
            document.getElementById("main").style.height = iHeight + "px";
        }

        //显示数据更新的日期
        function showDate(sDate) {
            var sTip = '数据生成于：' + sDate;
            $('#yzs-date').html(sTip);
        }

        // 基于准备好的dom，初始化echarts实例
        function DynamicDrawChart() {
            $.ajax({
                // url: '/zabbix/chart/' + sZabbixIP,
                url: '/custom/output/',
                data: "key=adsl",// data: '{ip:' + sZabbixIP + ',line:' + sTagID + '}',
                type: 'GET',
                success: function (sData) {//complete() will always get called no matter if the ajax call was successful or not
                    jData = JSON.parse(sData);
                    SetHeight(jData);
                    if (jData['success'] == 1) {
                        drawChart(jData['result']['data'], 'main');
                        showDate(jData['result']['date'])
                    } else {
                        console.log('后端没能给予正确的数据，提示：' + jData['tip']);
                    }
                }
            })
        }
        DynamicDrawChart()
    </script>
    <script>
        {% if int_setTimeout %}
            window.setInterval(DynamicDrawChart, {{ int_setTimeout }});
        {% endif %}
    </script>
{% endblock %}
