{% extends "templates/base.html" %}

{% block styles %}
    <title>adsl,光纤流量可视化</title>
    <link href="/static/public/bootstrap/bootstrap-toggle.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/public/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <!--bootstrap.css对浏览器常用标签进行了设置，入body的编剧。所以相同的设置对象要在bootstrap之后引入才会有效-->
    <link href="/static/adsl/css/adsl.css" rel="stylesheet">
    <!--右下角的工具栏-->
    <link type="text/css" rel="stylesheet" href="/static/idc/css/wrapper.css"/>
    <link type="text/css" rel="stylesheet" href="/static/public/ohsnap/app.css"/>
{% endblock styles %}


{% block content %}
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand"><a id="menu-toggle" href="#">操作面板<span id="main_icon"
                                                                                 class="glyphicon glyphicon-align-justify"></span></a>
                </li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
                <li>
                    <a href="{% url 'idc_index' %}">
                        idc流量圆饼图
                        <span class="sub_icon glyphicon glyphicon-link"></span>
                    </a>
                </li>
                <input id="toggle-traffic" type="checkbox" checked data-toggle="toggle"
                       data-width="100%"
                       data-on="&nbsp;&nbsp;&nbsp;&nbsp;自动刷新数据&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-play'></i>"
                       data-off="停止刷新数据&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-pause'></i>">
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <!-- Keep all page content within the page-content inset div! -->
            <div class="alert yzs-alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="yzs-date"></div>
                <!--淡进淡出的提示框-->
                <div id="ohsnap"></div>
            </div>

            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog yzs-modal-width">
                    <div class="modal-content">
                        <div class="modal-header yzs-modal-header">
                            <button class='yzs-button' type="button" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">img标签将取代这里</div>
                    </div>
                    <!-- /.modal-content 用来把 <div> 的内容识别为模态框。-->
                </div>
                <!-- /.modal -->
            </div>
            <!--在改区域中添加元素-->
            <div id="yzs-update-time"></div>
            <div id='drawChart-area'></div>
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div id="main" style="width: 100%;height:1000px;"></div>
            <!--将圆饼图垫起来，高度由alert决定-->
            <div class="yzs-bottom">
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="/static/public/jquery/jquery.js"></script>
    <!--模拟框-->
    <script src="/static/public/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--必须先载入jquery再载入bootstrap-switch.js-->
    <script src="/static/public/bootstrap/bootstrap-toggle.js"></script>
    <!--右下角的工具栏-->
    <script src="/static/public/echarts/3.1.10/echarts.js"></script>
    <script>var bSwitchTraffic = $('#toggle-traffic').prop('checked');</script>
    <script src="/static/adsl/js/echarts-adsl.js"></script>
    <script src="/static/adsl/js/adsl.js"></script>
    <script type="text/javascript">
        DynamicDrawChart();
        window.setInterval(DynamicDrawChart, 30000);
    </script>
    <script src="/static/public/ohsnap/ohsnap.js"></script>
    <script>
        //页面打开若干时间后显示提示信息
        var iInterval = 1500;
        $(document).ready(function () {
            {% block notification %}
                {% for notification in notifications %}
                    setTimeout(ohSnap, iInterval, "{{ notification.content }}", {'color': 'blue'}, 10000);
                    iInterval += 2000;
                {% endfor %}
            {% endblock notification %}
        });
    </script>
{% endblock %}
