{% extends "templates/idc.html" %}


{% block script %}
    <!--提示没有model方法可能是jquery载入重复-->
    <script src="/static/public/jquery/jquery.js"></script>
    <!--模拟框-->
    <script src="/static/public/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--必须先载入jquery再载入bootstrap-switch.js-->
    <script src="/static/public/bootstrap/bootstrap-toggle.js"></script>
    <script src="/static/public/echarts/3.1.10/echarts.js"></script>
    <script src="/static/idc/js/echarts-pie.js"></script>
    <script>var bSwitchTraffic = $('#toggle-traffic').prop('checked');</script>
    <script>
        col = "yzs-pie col-md-3"
    </script>
    <script src="/static/idc/js/idc.js"></script>
    <script>
        AjaxDraw();
        window.setInterval(AjaxDraw, 30000);
    </script>
    <script src="/static/public/ohsnap/ohsnap.js"></script>
    <script>
        //页面打开若干时间后显示提示信息
        var iInterval = 1500;
        $(document).ready(function () {
            {% block notification %}
                {% for notification in notifications %}
                    setTimeout(ohSnap, iInterval, "{{ notification.content }}", {'color': 'blue'}, 10000);
                    iInterval += 2000;
                {% endfor %}
            {% endblock notification %}
        });
    </script>
    <script src="/static/public/feedback.js"></script>
{% endblock script %}


{% block styles %}
    <title>idc各线路流量</title>
    <link href="/static/public/bootstrap/bootstrap-toggle.css" rel="stylesheet">
    <link href="/static/public/bootstrap/Font-Awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/public/bootstrap/Font-Awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/public/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/idc/css/idc.css"/>
    <link type="text/css" rel="stylesheet" href="/static/idc/css/wrapper.css"/>
    <link type="text/css" rel="stylesheet" href="/static/public/ohsnap/app.css"/>
    <link type="text/css" rel="stylesheet" href="/static/public/feedback.css"/>
{% endblock styles %}


{% block content %}
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand"><a id="menu-toggle" href="#">操作面板<span id="main_icon"
                                                                                 class="glyphicon glyphicon-align-justify"></span></a>
                </li>
            </ul>
            <!--默认为选中状态 checked ,会刷新数据-->
            <input id="toggle-traffic" type="checkbox" checked data-toggle="toggle"
                   data-width="100%"
                   data-on="&nbsp;&nbsp;&nbsp;&nbsp;自动刷新数据&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-play'></i>"
                   data-off="停止刷新数据&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-pause'></i>">
            <ul class="sidebar-nav" id="sidebar">
                <li>
                    <a href="{% url 'adsl_index' %}">
                        adsl/光纤流量图
                        <span class="sub_icon glyphicon glyphicon-link"></span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <!-- Keep all page content within the page-content inset div! -->
            <div class="alert yzs-alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!--用户反馈-->
                <span id="yzs-feedback" class="icon-exclamation-sign icon-large"></span>
                <span id="yzs-date"></span>
                <!--淡进淡出的提示框-->
                <div id="ohsnap"></div>
            </div>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog yzs-modal-width">
                    <div class="modal-content">
                        <div class="modal-header yzs-modal-header">
                            <button class='yzs-button' type="button" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                        </div>
                        <div id="yzs-zabbix-img" class="modal-body">img标签将取代这里</div>
                    </div>
                    <!-- /.modal-content 用来把 <div> 的内容识别为模态框。-->
                </div>
                <!-- /.modal -->
            </div>
            <!--用户反馈模拟框-->
            <div class="modal fade" id="yzs-model-feedback" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">用户反馈：</h4>
                        </div>
                        <textarea id="yzs-textarea" class="col-xs-12"
                                  placeholder="反馈信息将发送到页面开发者(尤泽顺-8766,陈午杰-6505)和运维软件开发群(13693)"></textarea>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button id="yzs-feedback-submit" type="button" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                    <!-- /.modal-content 用来把 <div> 的内容识别为模态框。-->
                </div>
                <!-- /.modal -->
            </div>
            <!--在改区域中添加元素-->
            <div id='drawChart-area'></div>
            <!--将圆饼图垫起来，高度由alert决定-->
            <div class="yzs-bottom">
            </div>
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        </div>
    </div>
{% endblock content %}
