{% extends "templates/idc.html" %}


{% block script %}
    <!--提示没有model方法可能是jquery载入重复-->
    <script src="/static/public/jquery/jquery.js"></script>
    <!--模拟框-->
    <script src="/static/public/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--必须先载入jquery再载入bootstrap-switch.js-->
    <script src="/static/public/bootstrap/bootstrap-toggle.js"></script>
    <script src="/static/public/echarts/3.1.10/echarts.js"></script>
    <script src="/static/idc/js/echarts-pie.js"></script>
    <script>var bSwitchTraffic = $('#toggle-traffic').prop('checked');</script>
    <script src="/static/idc/js/idc.js"></script>
    <script>
        {% if not on_hook %}
            window.setInterval(AjaxDraw, 30000);
        {% endif %}
    </script>
{% endblock script %}


{% block styles %}
    <title>idc各线路流量</title>
    <link href="/static/public/bootstrap/bootstrap-toggle.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/public/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <!--右下角的工具栏-->
    <link type="text/css" rel="stylesheet" href="/static/idc/css/idc.css"/>
    <link type="text/css" rel="stylesheet" href="/static/idc/css/wrapper.css"/>
{% endblock styles %}


{% block content %}
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand"><a id="menu-toggle" href="#">操作面板<span id="main_icon"
                                                                                 class="glyphicon glyphicon-align-justify"></span></a>
                </li>
            </ul>
            <!--默认为选中状态 checked ,会刷新数据-->
            <input id="toggle-traffic" type="checkbox" checked data-toggle="toggle"
                   data-width="100%"
                   data-on="&nbsp;&nbsp;&nbsp;&nbsp;自动刷新数据&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-play'></i>"
                   data-off="停止刷新数据&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-pause'></i>">
            <ul class="sidebar-nav" id="sidebar">
                <li>
                    <!--
                    <a href="http://192.168.165.200:82/adsl">
                    -->
                    <a href="http://127.0.0.1/adsl">
                        adsl/光纤流量图
                        <span class="sub_icon glyphicon glyphicon-link"></span>
                    </a>
                </li>
            </ul>
            {#            <ul class="sidebar-nav sidebar-bottom">#}
            {#                <li><a>Link1<span class="sub_icon glyphicon glyphicon-link"></span></a></li>#}
            {#                <li><a>Link2<span class="sub_icon glyphicon glyphicon-link"></span></a></li>#}
            {#            </ul>#}
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <!-- Keep all page content within the page-content inset div! -->
            {% block notification %}
                {% for notification in notifications %}
                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div id="notify">{{ notification.content }}</div>
                    </div>
                {% endfor %}
            {% endblock notification %}

            <div class="alert yzs-alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="yzs-date"></div>
            </div>

            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog custom-width">
                    <div class="modal-content">
                        <div class="modal-header yzs-modal-header">
                            <button class='yzs-button' type="button" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">img标签将取代这里</div>
                    </div>
                    <!-- /.modal-content 用来把 <div> 的内容识别为模态框。-->
                </div>
                <!-- /.modal -->
            </div>
            <!--在改区域中添加元素-->
            <div id='drawChart-area'></div>
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        </div>
    </div>
{% endblock content %}
