{% extends "templates/idc.html" %}


{% block script %}
    <script src="/static/public/jquery/jquery.js"></script>
    <!--模拟框-->
    <script src="/static/public/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/public/echarts/3.1.10/echarts.js"></script>
    <script src="/static/idc/js/echarts-pie.js"></script>
    <!--右下角的工具栏-->
    <script src="/static/idc/js/idc.js"></script>
    <script>
        {% if not on_hook %}
            window.setInterval(AjaxDraw, 30000);
        {% endif %}
    </script>
    <style type="text/css">

        /*改变最大长宽，未达到最大长宽的时候是自适应的*/
        #myModal .modal-body {
            max-height: 840px;
        }

        /*这个css所使用的class是自定义的！*/
        .custom-width {
            width: 1050px; /* either % (e.g. 60%) or px (400px) */
        }

        h3 {
            margin: 0px;
            padding: 0px;
        }

        .yzs-modal-header {
            margin: 0px;
            padding: 0px;
            height: 30px;
        }

        .yzs-button {
            float: right;
            width: 50px;
        }

    </style>
{% endblock script %}


{% block styles %}
    <title>idc各线路流量</title>
    <link type="text/css" rel="stylesheet" href="/static/public/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <!--右下角的工具栏-->
    <link type="text/css" rel="stylesheet" href="/static/idc/css/idc.css"/>
{% endblock styles %}


{% block content %}
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog custom-width">
            <div class="modal-content">
                <div class="modal-header yzs-modal-header">
                    <button class='yzs-button' type="button" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">img标签将取代这里</div>
            </div>
            <!-- /.modal-content 用来把 <div> 的内容识别为模态框。-->
        </div>
        <!-- /.modal -->
    </div>
    <!--在改区域中添加元素-->
    <div id="yzs-update-time"></div>
    <div id='drawChart-area'></div>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
{% endblock content %}
