{% extends "templates/idc.html" %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="/static/public/ohsnap/app.css"/>
{% endblock styles %}

{% block content %}
{% endblock content %}


{% block script %}
    <script src="/static/public/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/public/ohsnap/ohsnap.js"></script>
    <script>
        ohSnap('ffffffffff', {'color': 'blue'});
        ohSnap('ffffffffff', {'color': 'blue'});
    </script>
{% endblock script %}
