html{
	height:100%
}
body{
	height:100%
}


*{margin:0px;}  /* 通过设置边距为0使得元素之间没有间隙*/



#main{

	width:100%;

     }



#text_area{
	z-index:999;
	padding-top: 30px;

	font-family: 'Arial, Verdana, sans-serif';

	color:white;

	position: fixed; /*定位类型：固定定位*/

	top: 0; /*结合position属性，text_area将会置顶*/

	right:0px;/*结合position属性，text_area将会贴近右边*/

	width:20%;

	float: right;/*向右浮动*/

	background-color: #1b1b1b;;

	}



th{

	text-align: left;

	padding: 3px 7px 3px 7px;
	font-family: Times, TimesNR, 'New Century Schoolbook',
			Georgia, 'New York', serif;}
	}
