body {
    background-color: #ccffcc;
}

.yzs-alert {
    position: fixed;
    bottom: 0px;
    z-index: 998;
    margin: 0px;
    width: 96%;
    font-weight: bold;
    font-size: large;
    text-align: right; /*字体右對齊*/
    /*color: #271b38; !*字体的颜色*!*/
}

/*改变最大长宽，未达到最大长宽的时候是自适应的*/
#myModal .modal-body {
    max-height: 840px;
}

/*这个css所使用的class是自定义的！*/
.yzs-modal-width {
    width: 1050px; /* either % (e.g. 60%) or px (400px) */
}

/*model的样式*/
h3 {
    margin: 0px;
    padding: 0px;
}

.yzs-modal-header {
    margin: 0px;
    padding: 0px;
    height: 30px;
}

.yzs-button {
    float: right;
    width: 50px;
}
