{% extends "templates/idc.html" %}


{% block script %}
    <script src="/static/public/echarts/3.1.10/echarts.js"></script>
    <script src="/static/idc/js/echarts-pie.js"></script>
    <script src="/static/public/jquery/3.0.0/jquery.min.js"></script>
    <script src="/static/idc/js/idc.js"></script>
    <script>var bSwitchTraffic = true;</script>
{% endblock script %}


{% block styles %}
    <meta http-equiv="refresh" content="30"/>
    <link type="text/css" rel="stylesheet" href="/static/idc/css/idc.css">
{% endblock styles %}


{% block content %}
    <!--在改区域中添加元素-->
    <div id="yzs-update-time"></div>
    <div id='drawChart-area'></div>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
{% endblock content %}
