{% extends "templates/base.html" %}

{% block content %}
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 100%;height:1000px;"></div>
{% endblock content %}

{% block script %}
    <script src="/static/public/echarts/3.1.10/echarts.js"></script>
    <script src="/static/public/jquery/jquery.js"></script>
    <script src="/static/adsl/js/adsl.js"></script>
    <script type="text/javascript">
        //根据条目设置宽度
        function SetHeight(jData) {
            var iLen = 0;
            for (i in  jData['result']['data']) {
                iLen++
            }
            iHeight = iLen * 120;
            console.log(iHeight);
            document.getElementById("main").style.height = iHeight + "px";
        }

        // 基于准备好的dom，初始化echarts实例
        function DynamicDrawChart() {
            $.ajax({
                // url: '/zabbix/chart/' + sZabbixIP,
                url: '/custom/output/',
                data: "key=adsl",// data: '{ip:' + sZabbixIP + ',line:' + sTagID + '}',
                type: 'GET',
                success: function (sData) {//complete() will always get called no matter if the ajax call was successful or not
                    jData = JSON.parse(sData);
                    SetHeight(jData);
                    if (jData['success'] == 1) {
                        drawChart(jData['result']['data'], 'main');
                    } else {
                        console.log('后端没能给予正确的数据，提示：' + jData['tip']);
                    }
                }
            })
        }
        DynamicDrawChart()
    </script>
    <script>
        {% if int_setTimeout %}
            window.setInterval(DynamicDrawChart, {{ int_setTimeout }});
        {% endif %}
    </script>
{% endblock %}
